/*main text style*/
body, html {
	font-family: 'Segoe UI', Roboto, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	outline: 0;
	padding: 0;
	height: 100%;
}
html {
	overflow-x: hidden;
}
main {
	padding: 2rem;
}
/*text formatting*/
h1 {
	font-size: 2.25rem;
	font-style: bold;
}
h2 {
	font-size: 1.875rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.25rem;
}
h5 {
	font-size: 1.125rem;
}
h6 {
	font-size: 1rem;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}
/*footer position*/
#wrapper {
	min-height: calc(100% - 3.125rem);
}
#footer, .push {
	height: 3.125rem;
}
/*footer style*/
#footer { 
	margin: 0;
	padding-left: .5em;
	padding-right: .5em;
	overflow: hidden;
	background-color: rgb(50, 50, 50);
	color: rgb(255, 255, 255);
}
/*external link icon*/
a[target="_blank"]:not(.no-ex-link)::after {
	content: "";
	width: 1em;
	height: 1em;
	margin: 0 0.05em 0 0.1em;
	background: url(/files/icons/open_in_new24px.svg);
	background-size: contain;
	display: inline-block;
	vertical-align: text-bottom;
}