---
title: Home
---
<!doctype html>
<html lang="en">

    <head>
        {% include header.html %}
        <style>
        </style>
    </head>

    <body class="page--top-app-bar">
        <div id="wrapper">
            <header>
                {% include nav.html %}
            </header>

            <main id="content-main">
                <h1>
                    Home
                </h1>
                <div id="button">
                    <ui-button outlined @click="$alert(message)">test</ui-button>
                </div>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, quis culpa! Aliquam provident esse
                    recusandae corrupti nulla, accusantium at, non aliquid tenetur doloremque consequatur eum corporis
                    dolorem nostrum rem quas?
                    Consectetur aperiam illum culpa reiciendis quas quidem architecto iste eligendi voluptatum repellat
                    ea, officiis impedit sint. Cumque commodi saepe voluptatum delectus unde, vero accusamus nam
                    aspernatur mollitia labore corrupti ipsam.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, quis culpa! Aliquam provident esse
                    recusandae corrupti nulla, accusantium at, non aliquid tenetur doloremque consequatur eum corporis
                    dolorem nostrum rem quas?
                    Consectetur aperiam illum culpa reiciendis quas quidem architecto iste eligendi voluptatum repellat
                    ea, officiis impedit sint. Cumque commodi saepe voluptatum delectus unde, vero accusamus nam
                    aspernatur mollitia labore corrupti ipsam.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, quis culpa! Aliquam provident esse
                    recusandae corrupti nulla, accusantium at, non aliquid tenetur doloremque consequatur eum corporis
                    dolorem nostrum rem quas?
                    Consectetur aperiam illum culpa reiciendis quas quidem architecto iste eligendi voluptatum repellat
                    ea, officiis impedit sint. Cumque commodi saepe voluptatum delectus unde, vero accusamus nam
                    aspernatur mollitia labore corrupti ipsam.</p>
            </main>
        </div>

        <footer id="footer">
            {% include footer.html %}
            <script>
                var button = Vue.createApp({
                    setup() {
                        var message = "Hello BalmUI";
                        return {
                            message
                        };
                    }
                });
                button.use(BalmUI);
                button.use(BalmUIPlus);
                button.mount("#button");
            </script>
            <script>
                var nav = Vue.createApp({
                    setup() {
                        return {
                            openDrawer: false
                        };
                    },
                    methods: {
                        openDrawer() {
                            this.openDrawer = true;
                        }
                    }
                });
                nav.use(BalmUI);
                nav.use(BalmUIPlus);
                nav.mount("#nav");
            </script>
        </footer>
    </body>

</html>