---
title: Home
---
<!doctype html>
<html lang="en">

    <head>
        {% include header.html %}
        <style>
        </style>
    </head>

    <body>
        <div class="wrapper">
            <header>
                {% include nav.html %}
            </header>

            <main>
                <h1>
                    Home
                </h1>

                <p>
                    Welcome to my website I guess.
                </p>

                <p>
                    To see what this is all about, check out the <a href="/about/">about</a> page.
                </p>

            </main>
        </div>

        <footer>
            {% include footer.html %}
        </footer>
    </body>

</html>