<nav>
    <ul>
        <li class="logo">
            <img class="logonav" src="/files/images/logos/QUGLogoSimpleWhiteT500.png" alt="Logo">
        </li>
        <li><a href="/">Home</a></li>
        <li class="dropdown">
            <a href="/site/content/test/" class="dropbtn">Test</a>
            <div class="dropdown-content">
                <a href="/site/content/test/test1">Test 1</a>
                <a href="#2">Test 2</a>
                <a href="#3">Test 3</a>
            </div>
        </li>
        <li><a href="/updates/">Updates</a></li>
        <li class="right"><a href="/about/">About</a></li>
    </ul>
</nav>